<%- include('../../fragments/header.ejs') %>

<main>
	<h2>Lista Zleconych badań</h2>
	<table class="table-list">
		<thead>
			<tr>
				<th>Imię</th>
				<th>Nazwisko</th>
				<th>Data ur.</th>
				<th>Badanie</th>
				<th>Data zlec.</th>
				<th>Data wyn.</th>
				<th>Wynik</th>
				<th>Akcje</th>
			</tr>
		<tbody>
			<% for (let ord of ords) { %>
			<tr>
				<td><%= ord.patient.firstname %></td>
				<td><%= ord.patient.surname %></td>
				<td><%= ord.patient.birthdate.toISOString().split('T')[0] %></td>
				<td><%= ord.labTest.name %></td>
				<td><%= ord.orderDate==null ? '' : ord.orderDate.toISOString().split('T')[0] %></td>
				<td><%= ord.resultDate==null ? '' : ord.resultDate.toISOString().split('T')[0] %></td>
				<td><%= ord.resultValue==null ? '' : ord.resultValue+' '+ord.labTest.units %> </td>
				<td>
					<ul class="list-actions">
						<li><a href="/orders/details/<%= ord._id %>" class="list-actions-button-details">Szczegóły</a>
						</li>
						<li><a href="/orders/edit/<%= ord._id %>" class="list-actions-button-edit">Edytuj</a></li>
						<li><a href="/orders/delete/<%= ord._id %>" class="list-actions-button-delete">Usuń</a></li>

					</ul>
				</td>
			</tr>

		</tbody>

		<% } %>
	</table>
	<p>
		<a href="/orders/add" class="button-add">Dodaj nowe zlecenie</a>
	</p>
</main>

<%- include('../../fragments/footer.ejs') %>