<%- include('../../fragments/header.ejs') %>

<main>
	<h2>Lista dostępnych badań</h2>
	<table class="table-list">
		<thead>
			<tr>
				<th>Nazwa</th>
				<th>Jednostki</th>
				<th>Akcje</th>
			</tr>
		<tbody>
			<% for (let lab of labs) { %>
				<tr>
					<td><%= lab.name %></td>
					<td><%= lab.units %></td>
					<td>
						<ul class="list-actions">
							<li><a href="/labTests/details/<%=lab._id %>" class="list-actions-button-details">Szczegóły</a>
							</li>
							<li><a href="/labTests/edit/<%=lab._id %>" class="list-actions-button-edit">Edytuj</a></li>
							<li><a href="/labTests/delete/<%=lab._id %>" class="list-actions-button-delete">Usuń</a></li>

						</ul>
					</td>
				</tr>
			<% } %>
		</tbody>


	</table>
	<p>
		<a href="/labTests/add" class="button-add">Dodaj nowe badanie</a>
	</p>
</main>

<%- include('../../fragments/footer.ejs') %>