<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationLabTestForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm()">
        <fieldset>
            <legend><%= pageTitle %></legend>
            <input type="hidden" name="_id" value="<%= lab._id %>">

            <label for="name"> Nazwa:<sup>*</sup></label>
            <input type="text" name="name" id="name" value="<%= lab.name %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
            <span id="errorName" class="errors-text"></span>

            <label for="units"> Jednostki:<sup>*</sup></label>
            <input type="text" name="units" id="units" value="<%= lab.units %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
            <span id="errorUnits" class="errors-text"></span>


            <p id="errorSummary" class="errors-text"></p>
				<% if (formMode=='showDetails' ) { %>
					<div class="form-buttons">
						<a href="/labTests/edit/<%= lab._id %>" class="form-button-edit">Edytuj</a>
						<a class="form-button-cancel" href="/labTests">Powrót</a>
					</div>
					<% } else { %>
						<div class="form-buttons">
							<input type="submit" class="form-button-submit" value="<%=btnLabel%>" />
							<a class="form-button-cancel" href="/labTests">Anuluj</a>
						</div>

                        <% } %>
        </fieldset>
    </form>

    <% if (formMode=='showDetails' || formMode=='edit' ) { %>
        <h2>
            Lista powiązanych pacjentów
        </h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwisko</th>
                    <th>Imię</th>
                    <th>Pesel</th>
                    <th>Data urodzenia</th>
                    <th>Data zlecenia</th>
                    <th>Data wyniku</th>
                    <th>Status</th>
                    <th>Wynik</th>
                </tr>
            </thead>
            <tbody>
                <% for (let e of lab.orders) { %>
                    <tr>
                        <td><a href="/patients/details/<%= e.patient._id %>">
                            <%= e.patient.surname %>
                        </a></td>
                        <td><%= e.patient.firstname %></td>
                        
                        <td>
                            <%= e.patient.idnumber %>
                        </td>
                        <td>
                            <%= e.patient.birthdate==null ? '' : e.patient.birthdate.toISOString().split('T')[0] %>
                        </td>
                        <td>
                            <%= e.orderDate==null ? '' : e.orderDate.toISOString().split('T')[0] %>
                        </td>
                        <td>
                            <%= e.resultDate==null ? '' : e.resultDate.toISOString().split('T')[0] %>
                        </td>
                        <td>
                            <%= e.status %>
                        </td>
                       
                        <td>
                            <%= e.resultValue==null ? '' : e.resultValue+' '+lab.units%>
                        </td>
        </tr>
        <% } %>
    </tbody>
</table>
<% } %>




</main>

<%- include('../../fragments/footer.ejs') %>