<%- include('../../fragments/header.ejs') %>

	<main>
		<script type="application/javascript" src="/js/validationPatientForm.js"></script>
		<h2><%= pageTitle %></h2>
		<form class="form" method="post" action="<%=formAction%>" novalidate>
			<fieldset>
				<legend>
					<%= pageTitle %>
				</legend>

				<input type="hidden" name="_id" value="<%= pat._id %>">

				<label for="firstname"> Imię:<sup>*</sup></label>
				<input type="text" name="firstname" id="firstname" class="<%= validationErrors.find(e => e.path.includes('firstname')) ? 'error-input' : '' %>" placeholder="2-60 znaków"
					value="<%= pat.firstname %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
				<span id="errorFirstname" class="errors-text">
					<% if (validationErrors.find(e => e.path.includes('firstname'))) { %>
						<%= validationErrors.find(e => e.path.includes('firstname')).message %>
					<% } %>
				</span>

				<label for="surname"> Nazwisko:<sup>*</sup></label>
				<input type="text" name="surname" id="surname" class="<%= validationErrors.find(e => e.path.includes('surname')) ? 'error-input' : '' %>" placeholder="2-60 znaków" value="<%= pat.surname %>"
					<%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
				<span id="errorSurname" class="errors-text">
					<% if (validationErrors.find(e => e.path.includes('surname'))) { %>
						<%= validationErrors.find(e => e.path.includes('surname')).message %>
					<% } %>
				</span>

				<label for="birthdate">Data urodzenia:<sup>*</sup></label>
				<input type="date" id="birthdate" name="birthdate" min="1901-01-01" class="<%= validationErrors.find(e => e.path.includes('birthdate')) ? 'error-input' : '' %>"
					value="<%= pat.birthdate=='' || pat.birthdate==null ? '' : new Date(pat.birthdate).toISOString().split('T')[0] %>" <%=(formMode=='showDetails' ) ? 'disabled'
					: '' %> />
				<span id="errorBirthdate" class="errors-text">
					<% if (validationErrors.find(e => e.path.includes('birthdate'))) { %>
						<%= validationErrors.find(e => e.path.includes('birthdate')).message %>
					<% } %>
				</span>

				<label for="idnumber"> PESEL:</label>
				<input type="text" name="idnumber" id="idnumber" class="<%= validationErrors.find(e => e.path.includes('idnumber')) ? 'error-input' : '' %>" placeholder="11 znaków" value="<%= pat.idnumber %>"
					<%=(formMode=='showDetails' ) ? 'disabled' : '' %> />
				<span id="errorId" class="errors-text">
					<% if (validationErrors.find(e => e.path.includes('idnumber'))) { %>
						<%= validationErrors.find(e => e.path.includes('idnumber')).message %>
					<% } %>
				</span>

				<label for="PatientComments"> Uwagi:</label>
				<textarea name="PatientComments" id="PatientComments" rows="10" cols="30"
					value="<%= pat.PatientComments %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>></textarea>

				<p id="errorSummary" class="errors-text"><%=(Array.isArray(validationErrors) && validationErrors.length) ? 'Formularz zawiera błędy' : '' %></p>
				<% if (formMode=='showDetails' ) { %>
					<div class="form-buttons">
						<a href="/patients/edit/<%= pat._id %>" class="form-button-edit">Edytuj</a>
						<a class="form-button-cancel" href="/patients">Powrót</a>
					</div>
				<% } else { %>
					<div class="form-buttons">
						<input type="submit" class="form-button-submit" value="<%=btnLabel%>" />
						<a class="form-button-cancel" href="/patients">Anuluj</a>
					</div>

				<% } %>


			</fieldset>
		</form>

		<% if (formMode=='showDetails' || formMode=='edit' ) { %>
			<h2>
				Lista zleconych badań
			</h2>
			<table class="table-list">
				<thead>
					<tr>
						<th>Badanie laboratoryjne</th>
						<th>Status</th>
						<th>Data zlecenia</th>
						<th>Data wyniku</th>
						<th>Wynik</th>
					</tr>
				</thead>
				<tbody>
					<% for (let e of pat.orders) { %>
						<tr>
							<td><a href="/labTests/details/<%= e.labTest._id %>">
									<%= e.labTest.name %>
								</a></td>
							<td>
								<%= e.status %>
							</td>
							<td>
								<%= e.orderDate==null ? '' : e.orderDate.toISOString().split('T')[0] %>
							</td>
							<td>
								<%= e.resultDate==null ? '' : e.resultDate.toISOString().split('T')[0] %>
							</td>
							<td>
								<%= e.resultValue==null ? '' : e.resultValue+' '+e.labTest.units%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<% } %>



</main>

<%- include('../../fragments/footer.ejs') %>