<%- include('../../fragments/header.ejs') %>

	<main>
		<h2>Lista Pacjentów</h2>
		<table class="table-list">
			<thead>
				<tr>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Pesel</th>
					<th>Data urodzenia</th>
					<th>Akcje</th>
				</tr>
			<tbody>
				<% for (let pat of pats) { %>
					<tr>
						<td>
							<%= pat.firstname %>
						</td>
						<td>
							<%= pat.surname %>
						</td>
						<td>
							<%= pat.idnumber %>
						</td>
						<td>
							<%= pat.birthdate.toISOString().split('T')[0] %>
						</td>
						<td>
							<ul class="list-actions">
								<li><a href="/patients/details/<%=pat._id%>"
										class="list-actions-button-details">Szczegóły</a>
								</li>
								<li><a href="/patients/edit/<%=pat._id%>" class="list-actions-button-edit">Edytuj</a>
								</li>
								<li><a href="/patients/delete/<%=pat._id%>" class="list-actions-button-delete">Usuń</a>
								</li>

							</ul>
						</td>
					</tr>
					<% } %>
			</tbody>


		</table>
		<p>
			<a href="/patients/add" class="button-add">Dodaj nowego pacjenta</a>
		</p>
	</main>

	<%- include('../../fragments/footer.ejs') %>