<%- include('../../fragments/header.ejs') %>

	<main>
		<h2><%=__('patient.list.pageTitle')%></h2>
		<table class="table-list">
			<thead>
				<tr>
					<th><%=__('patient.fields.firstName')%></th>
					<th><%=__('patient.fields.lastName')%></th>
					<th><%=__('patient.fields.idnumber')%></th>
					<th><%=__('patient.fields.birthdate')%></th>
					<th><%=__('list.actions.title')%></th>
				</tr>
			<tbody>
				<% for (let pat of pats) { %>
					<tr>
						<td>
							<%= pat.firstname %>
						</td>
						<td>
							<%= pat.surname %>
						</td>
						<td>
							<%= pat.idnumber %>
						</td>
						<td>
							<%= pat.birthdate.toISOString().split('T')[0] %>
						</td>
						<td>
							<ul class="list-actions">
								<li><a href="/patients/details/<%=pat._id%>"
										class="list-actions-button-details"><%=__('list.actions.details')%></a>
								</li>
								<li><a href="/patients/edit/<%=pat._id%>" class="list-actions-button-edit"><%=__('list.actions.edit')%></a>
								</li>
								<li><a href="/patients/delete/<%=pat._id%>" class="list-actions-button-delete"><%=__('list.actions.delete')%></a>
								</li>

							</ul>
						</td>
					</tr>
					<% } %>
			</tbody>


		</table>
		<p>
			<a href="/patients/add" class="button-add"><%=__('patient.list.addNew')%></a>
		</p>
	</main>

	<%- include('../../fragments/footer.ejs') %>